[submodule "compiler/VC"]
	path = compiler/VC
	url = https://github.com/HaydnTrigg/Homeworld2Classic.git
[submodule "src/src/shared/cross/zlib/src"]
	path = src/src/shared/cross/zlib/src
	url = https://github.com/HaydnTrigg/Homeworld2Classic.git
	branch = zlib
[submodule "compiler/Windows Kits"]
	path = compiler/Windows Kits
	url = https://github.com/HaydnTrigg/Homeworld2Classic.git
	branch = windows-kits-8.0
[submodule "src/src/Foreign/lua/lua"]
	path = src/src/Foreign/lua/lua
	url = https://github.com/lua/lua.git
[submodule "src/src/Foreign/libwebm-1.0.0.26"]
	path = src/src/Foreign/libwebm-1.0.0.26
	url = https://github.com/webmproject/libwebm.git
[submodule "src/src/Foreign/jpeg-6b"]
	path = src/src/Foreign/jpeg-6b
	url = https://github.com/HaydnTrigg/Homeworld2Classic.git
	branch = jpeg-6b
[submodule "src/src/Foreign/boost"]
	path = src/src/Foreign/boost
	url = https://github.com/HaydnTrigg/Homeworld2Classic.git
	branch = boost
